<div class="col-lg-3">

    <h1 class="my-4" style="font-family: fantasy; font-size: 36px;" >
        Limited offer => </h1>
    <div class="list-group">
        <a href="#" class="list-group-item">Made by</a>
        <a href="#" class="list-group-item">108121025</a>
        <a href="#" class="list-group-item">108121080</a>
    </div>

</div>
<!-- /.col-lg-3 -->